@charset "utf-8";
a{
    text-decoration: none;
}
a:link,a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
div{
    box-sizing:border-box;
}
/*====================================公共页面 头部================================*/
.header{
    height: 125px;
}
.header-top {
    width: 100%;
    margin: 5px auto;
    display: flex;
}
.header-top a{
    color: black;
    font-size: 14px;
}
.header-top .messagel{
   
}
.header-top .messager{
   margin-left: 65%;
   display: flex;
}
.header-nav{
    width: 100%;
    margin: auto;
    display: flex;
}
.header-search{
    height: 40px;
    width: 722px;
    background-color: orange;
    margin-top: 20px;
}
.header-search input{
    height: 38px;
    margin: 1px;
    width: 720px;
}
.header-searchButton{
    margin-top:20px;
    margin-left: 0px;
    background-color: orange;
    color: #fff;
    height: 40px;
    width: 100px;
    line-height: 40px;
    border: none;
    float: left;
}
/*=======================================================================*/
/*==============================轮播图===================================*/
.nC-head{
    background: #575655;
    height: 40px;
    width: 100%;
    display: flex;
}
.carouselBg{
    background: #55BE59;
}
.carousel{
    left: 150px;
    position: relative;
}
.carousel img{
    position: absolute;
    top:0;
    display: none;
}
.nC-head .all-sort{
    line-height: 40px;
    color: #fff;
    padding: 0 35px 0 35px;
    height: 40px;
    background: orange;
    position: relative;
}
.nC-head a{
    display: block;
    padding: 0 25px 0 25px;
    height: 40px;
    color: #fff;
    line-height: 40px;
}
.nC-head a:hover{
    background: orange;
}
.dropMenu{
    position: absolute;
    width: 150px;
    top:40px;
    left: 0;
    z-index: 1;
    background: gray;
}
.dropMenu a{
    color: black;
    height: 45px;
    line-height: 55px;
}
.dropMenu a:hover{
    background: #fff;
}
.product a{
    color: #999;
    font-size: 14px;
    margin: 3px;
    /* margin: 0 8px 0 8px; */
}
.product a:hover{
    color: rgb(255, 153, 0);
    text-decoration: none;
}
.separtor{
    margin-top:10px;
    border-bottom: 1px dashed #e7e7e7;
}
.row{
    margin: 10px 80px 0 80px;
}
.product{
    display: none;
    position: absolute;
    
    left: 150px;
    top:0;
    z-index: 4;
    background: #fff;
    padding-left: 20px;
    padding-top:10px;
    width: 800px;
}
.carousel-li{
    color: #fff;
    z-index: 99;
    position: absolute;
    left: 600px;
    bottom:100px;
}
.carousel-li ul li{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
    margin: 20px;
    cursor: pointer;
}
/*====================侧边导航=======================================*/
.right-banner{
    height: 100%;
    width: 40px;
    background: rgb(43, 43, 43);
  
    position: fixed;
    right: 0;
    top:0;
    z-index: 99;
}
.right-banner-content{
    
    width: 40px;
    position: fixed;
    top:0;
}
.rbl{
    height: 100%;
    width: 40px;
   
    position: absolute;
    right: 40px;
    top:0;
    z-index: 99;
   
}
.rbl-content{
    width: 100%;
    position: fixed;
    top:0;
}
.user{
    position: absolute;
    top:250px;
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}
.user:hover{
    background: orange;
}
.rs-money{
    position: absolute;
    color: #fff;
    width: 40px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    top:380px;
}
.rs-money:hover{
    background: orange;
}
.rs-like{
    position: absolute;
    top:420px;
    color: #fff;
    width: 40px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}
.rs-like:hover{
    background: orange;
}
.rs-er{
    position: absolute;
    top:460px;
    color: #fff;
    width: 40px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}
.rs-er:hover{
    background: orange;
}
.rb-cart{
    position: absolute;
    top:300px;
    color: #fff;
    width: 40px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}
.rb-cart .glyphicon-shopping-cart{
    display: block;
}
.rb-cart:hover{
    background: orange;
}
.rb{
    position: relative;
}
.rbl-hurt{
    position: absolute;
    width: 100px;
    height: 35px;
    background: rgb(97, 97, 97);
    left: -60px;
    top:380px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    display: none;
}
.rbl-love{
    position: absolute;
    width: 100px;
    height: 35px;
    background: rgb(97, 97, 97);
    left: -60px;
    top:425px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    display: none;
}
.rbl-user{
    position: absolute;
    width: 320px;
    height: 190px;
    border: 2px solid gray;
    border-radius: 10px;
    background: #fff;
    left: -280px;
    top:250px;
    display: none;
    padding: 10px;
}
.rbl-user img{
    border-radius: 50%;
}
.OL{
    display:flex;
    justify-content:space-around;
}
.OL a{
    display: block;
    color: black;
    padding: 3px;
}
.myOrder{
    border: 1px solid gray;
    
}
.myLike{
    border: 1px solid gray;
}
/*=========================================页脚==================================================*/

.footer{
    width: 100%;
    height: 90px;
    background-color: rgb(47, 47, 47);
    padding-top:20px;
}
.footer_child{
    height: 60px;
    width: 1000px;
    margin: auto;
    background-color: rgb(47, 47, 47);
}
.footer_child img{
    margin-top:10px;
}
.footer_child_right{
    width: 440px;
    height: 60px;
    float: right;
}
.footer_child_right p{
    margin-left: 160px;
    color: #939393;
    margin-top: 5px;
}
.footer_child_right a{
    text-decoration: none;
    color:#939393;
}
.footer_child_right span{
    color: #939393;
}
.footer_child_right a:link,
.footer_child_right a:visited{
    color: #939393;
}
.footer_child_right a:hover{
    color: yellow;
}
/*=================================================页脚==========================================*/
/*===============================================展示内容========================================*/
.show-fish{
    background: #CFEEF2;
}
.show-fruit{
    background: #6BDEA7;
}
.show-rice{
    background: #FEFFE0;
}
.show-title{
    position: absolute;
    width: 100%;
    height: 128px;
    top:30px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
.show-text{
    position: absolute;
    text-align: center;
    top:50%;
    color: #fff;
    width: 100%;
}
.show-title-circle{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #fff;
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
    line-height: 50px;
}
.show hr{
    height: 3px;
    background: black;
}
.show-item{
    height: 500px;
    width: 220px;
    
    position: relative;
    float: left;
}
.show-angle{
    left: 0;
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 0px;
    border: 20px solid #fff;
    border-right: 20px solid #68937F;
    border-top:20px solid #68937F;
}
.show .icon img{
    width: 26px;
    height: 26px;
}
.show .icon span{
    display: block;
    margin-bottom: -20px;
}
.show .icon span a{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.show-content a{
    color: black;
}
.show-item img{
    width: 70%;
    position: absolute;
    bottom: 10px;
    left: 40px;
    transition: all 0.8s;
}
.show-item img:hover{
    transform: scale(1.1);
}
.show-content{
    border: 1px solid #E4E4E4;
    padding: 20px;
    float: left;
}
.show-content .price-icon{
    float: right;
    font-size: 24px;
    color: orange;
}
.show-content img{
    width: 80%;
    transition: all 0.8s;
    transform: translateX(10px);
}
.show-content img:hover{
    transform: translateX(-10px);
}
/*===============================================================================================*/
.market-main{
    max-width: 1070px;
    margin: 20px auto;
    padding: 20px;
}
.container-special{
    /* border: 1px solid rgb(255, 153, 0); */
    border-top: 3px solid rgb(255, 153, 0);
}
.market-first{
    padding: 10px;
    height: 553px;
    width: 263px;
    cursor: pointer;
    text-align: center;
}
.market-first img{
    opacity: 1;
}
.market-first img:hover{
    opacity: 0.8;
}
.market-each{
    padding: 10px;
    height: 287px;
    width: 263px;
    border: 2px solid white;
    /* cursor: pointer; */
    text-align: center;
}
.market-each:hover{
    border: 2px solid rgb(255, 153, 0);
}
.redColor{
    color: white;
    font-size: 16px;
}
.market-cart{
    width: 25px;
    height: 25px;
    background-color: rgb(255, 153, 0);
    text-align: center;
    padding: 4.5px;
    float: right;
}
.market-price{
    float: left;
    font-size: 23px;
}
.blank{
    display: block;
    width: 300px;
    background-color: black;
    height: 30px;
}
.market-menu{
    height: 200px;
    max-width:1070px;
    margin:  10px auto;
}
.tab-one{
    margin-left: 0px;
    /* height: 40px; */
    float: left;
    margin-top:7px;
    width:100%;
}
.tab-nav{
    width: 10%;
    float: left;
}
.tab-nav span{
    display: block;
    margin-left: 40px;
}
.tab-content{
    width: 90%; 
}
.market-menu a{
    font-size: 14px;
    color: #999999;
    text-decoration: none;
    display: block;
    float: left;
    margin-left: 25px;
    margin-top:3px;
}
.market-menu a:link,
.market-menu a:visited{
    color: #999999;
    text-decoration: none;
}
.market-menu a:hover{
    color: #FF9900;
    text-decoration: none;
}
.market-menu a:active{
    /* color: #FF9900; */
    color: red;
    text-decoration: none;
}
.market-menu a.selected{
    color: #FF9900;
}
.tab-drop{
    margin-left: 0px;
    float: left;
    margin-top:7px;
    width:100%;
}
.tab-content-drop{
    margin-right: 10px;
    margin-left: 106px;
    background-color:#F3F3F3;
    height: 90px;
}
.tab-content-drop-special{
    margin-right: 10px;
    margin-left: 106px;
    background-color:#fff;
    height: 10px;
}
/*================================浮动==================================*/
.hide-nav{
    height: 50px;
    width: 100%;
    background: orange;
    position: fixed;
    top:0;
    z-index: 99;
    display: none;
}
.hide-nav input{
    margin-top: 15px;
    margin-left: 30%;
    width: 40%;
}
.hide-nav button{
    color: #fff;
    border: none;
    background: orange;
}

.floatled{
    display: none;
    position: fixed;
    top:490px;
    left:70px;
    font-size: 12px;
    font-family: Arial;
    padding: 3px;
}
.floatled li{
    list-style-type: none;
    display: block;
    width: 36px;
    height: 33px;
    margin-bottom: 6px;
}
.floatled-part{
    height: 37px;
    width: 37px;
    background-color: rgb(98, 98, 98);
    color: white;
    border-width: 0;
}
.floatled-part img{
    width: 100%;
    height: 100%;
}
.active-red{
    background-color: red;
}
.active-blue{
    background-color: rgb(10, 166, 232);
}
.active-green{
    background-color:rgb(100, 195, 51);
}
.active-orange{
    background-color: orange;
}
/*=======================================今日推荐===================================*/
.today{
    padding: 0px;
    margin:10px auto;
}
.today .row{
    margin: 0px;
}
.today .title{
    background: rgb(47, 47, 47);
    color: #fff;
    font-size: 18px;
}
.today .content,
.today .title{
    display: flex;
    justify-content: space-between;
}
.today .content img,
.today .title img{
    width: 60%;
    transition: all 0.8s;
    margin-left: 60px;
    margin-bottom: 20px;
}
.today .content img:hover{
    transform: translateX(-20px);
}
/*===================================促销专区=================================================*/
.cuxiao{
    margin-bottom: 10px;
}
.cuxiao img{
    width: 100%;
    height: 100%;
}
.cuxiao hr{
    margin-top:0;
    height: 3px;
    background: black;
}
.cuxiao-main{
    position: relative;
    z-index: -1;
}
.triangle{
    position: absolute;
    width: 0;
    height: 0;
    top:0;
    border: 40px solid transparent;
    border-left:40px solid red;
    border-top:40px solid red;
    z-index: 1;
}
.cuxiao-text{
    position: absolute;
    color: #fff;
    top:5px;
    left: 20px;
    z-index: 2;
    font-size: 14px;
}
.cuxiao span h4{
    display: inline;
    margin-right: 5px;
}


/*===================================================购物车=========================================*/
.cart-{
    max-width: 1043px;
    margin: 10px auto;
}
.title-button{
    background-color: #AAAAAA;
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    color: white;
    width: 53px;
    height: 25px;
}
.title-price{
    color: #ff9900;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
}
.cart-bottom{
    background-color: #E5E5E5;
    line-height: 50px;
    margin: 20px 0;
    color: black;
    padding-left: 20px;
}
.bottom-button{
    background-color: #AAAAAA;
    border-width: 0;
    color: white;
    width: 120px;
    height: 50px;
    font-size:20px;
    text-align: center;
}
.select-img{
    cursor: pointer;
}
.total{
    color: #ff9900;
    font-weight: bold;
    font-size: 16px;
}
.bottom-price{
    color: #ff9900;
    font-weight: bold;
    font-size: 20px;
}
/*=======================================中间的内容=================================*/
.cart-table{
    width: 100%;
    font-size: 12px;
}
.cart-table tbody td{
    padding: 20px 20px;
}
.cart-table thead th{
    font-weight: normal;
    padding: 20px 20px;
    color: #3C3C3C;
}
.cart-picture{
    width: 80px;
    height: 80px;
    border: 1px solid #eeeeee;
    padding: 1px;
}
.td-text{
    color:#3c3c3c;
}
.td-text:hover{
    color: #ff9900;
}
.text-link{
    height: 80px;
    position: relative;
}
.renzheng-img{
    position: absolute;
    height: 20px;
    bottom: 0;
}
.deletePrice{
    text-decoration: line-through;
    font-size: 14px;
    color: #9C9C9C;
    display: block;
    font-weight: bold;
}
.nowPrice{
    font-size: 14px;
    font-weight: bold;
    color: #ff9900;
    font-family: Arial;
}
.changeNumber{
    width: 90px;
    border: 1px solid #E5E5E5;
}
.changeNumber a{
    display: inline-block;
    width: 15px;
    color: black;
    text-decoration: none;
}
.changeNumber a:hover{
    text-decoration: none;
}
.changeNumber input{
    display: inline-block;
    width: 42px;
    border: 1px solid #AAAAAA;
}
.radio-check{
    cursor: pointer;
}
.radios-check{
    cursor: pointer;
}
/*===========================================我的服务=========================================*/
.social{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: orange;
    display: block;
}
/*==========================================产品页=====================================================*/
.buy-body{
    width: 900px;
    margin: 10px auto;
    /* background-color: #F8F8F8; */
}
.buy-picture{
    margin: 20px 0 20px 0;
    width: 45%;
    float: left;
    background-color: #F8F8F8;
}
.picture-small{
    margin-top:5px;
    /* border: 1px solid #ECECEC; */
    background-color: #F8F8F8;
}
.picture-big img{
    width: 360px;
    height: 256px;
}
.picture-small img{
    width: 95px;
    height: 66px;
    border: 2px solid #ECECEC;
}
.picture-small img:hover{
    border: 2px solid red;
}
.buy-text{
    float: left;
    width: 45%;
    margin: 20px 10px 10px 10px;
}
.buy-text-title{
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.leftText{
    color: #999999;
    font-size: 14px;
}
.rightText{
    color: #FE0055;
    font-size: 14px;
}
.textDiv{
    margin-top:10px;
}


.btn2 {
	background: none;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius:0px !important;
	text-decoration:none;
	color:#000;
	font-size: 1.0em;
	border: 2px solid #ff9900;
	padding: 0.4em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.btn2-1c:after {
    content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
    background-color: #ff9900!important;
}
.btn2-1c:hover,
.btn2-1c:active {
    color: white !important;
    text-decoration: none;
}
.btn2-1c:hover:after,
.btn2-1c:active:after {
	width: 100%;
}


.buttonDiv{
    margin-top:20px;
} 
.buttonDiv a{
    margin-left: 30px;
}
.indroduction{
    padding: 40px 20px 40px 20px;
    background-color: white;
    margin: 20px;
    margin-bottom: 20px;
}
.picutre-big img{
    height: 270px;
    width: 350px;
}

/*=============================放大镜效果===========================*/
.huaKuai{
    width: 100px;
    height: 100px;
    display: none;
    left:0;
    top:0;
    background-color:#454545;
    opacity:0.5;
    position:absolute;
    cursor:move;
}
.normal{
    position: relative;
}
.fangDa{
    width:350px;
    height:270px;
    display:none;
    position:absolute;
    right:-300px;
    top:0;
    overflow:hidden;
    background-color:#454545;
    z-index: 100;
}
.fangDa img{
    width: 0px;
    height: 0px;
    margin-left:0;
    margin-top:0;
}
.fangDaImgs{
    height: 100%;
    width:100%;
}
.flyer-img{
    width: 30px;
    height: 30px;
}